/KeilProgect030/Listings/
/KeilProgect030/Objects/
/KeilProgect070/Listings/
/KeilProgect070/Objects/

KeilProject070/Listings/

KeilProject070/Objects/

*.bf

*.hex
!ba.hex
!romba.hex

KeilProject070/Generator070.uvguix.RD
*.log
